{% extends 'base.html' %}

{% block title %}
Cass Galaar - Home
{% endblock %}

{% block content %}
<section class="text-center mb-5">
    <h1 class="gold-1 cinzel-regular">Cass Galaar</h1>
    <p class="gold-2 cinzel-bold slogan">Perfume as it should be</p>
</section>

<section>
    <div class="container text-center">
        <div class="row">
            {% for perfume in perfumes %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <a class="perfume-card" href="{% url 'perfume_detail' perfume.id %}">
                    <div class="card card-hover h-100">
                        <img src="{{ perfume.image.url }}" class="card-img-top" alt="{{ perfume.name }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ perfume.name }}</h2>
                            <p class="card-text">
                                {{ perfume.description }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-12">
                <p>No perfumes available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}