{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}



{% block content %}
{% if messages %}
<div class="d-flex justify-content-center">
    <ul class="messages gold-1 list-unstyled">
        {% for message in messages %}
        <li class="message gold-1">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<section class="form-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-head text-center py-3">
                                    <h1 class="cinzel-regular">Login</h1>
                                </div>
                            </div>
                        </div>
                        <form method="POST" class="form p-2">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <<<<<<< HEAD <div class="d-flex justify-content-center">
                                <button class="btn btn-gold mt-3" type="submit">Login</button>
                    </div>
                    =======
                    <button type="submit">Login</button>
                    >>>>>>> 421b40b (Create cards for the content of the Login, Logout, and Register pages and style
                    according to the site's theme)
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}