body {
font-family: Arial, Helvetica, sans-serif;
display: flex;
min-height: 100vh;
flex-direction: column;
background-color: black;
padding-top: 80px;
}

main {
flex: 1 0 auto;
}

/* The CSS for the body and main tag was taken from the source code provided by Code Institute in order 
to keep the footer at the bottom of the page despite litte content the page may have */

/* ------------- General ------------- */

h1 {
font-size: 4rem;
}

.gold-1 {
color: #caa126 !important;
}

.gold-2 {
color: #B8860B !important;
}

.cinzel-regular {
font-family: "Cinzel Decorative", serif;
font-weight: 400;
font-style: normal;
}

.cinzel-bold {
font-family: "Cinzel Decorative", serif;
font-weight: 700;
font-style: normal;
}

.cinzel-thick {
font-family: "Cinzel Decorative", serif;
font-weight: 900;
font-style: normal;
}

/* ------------- Header ------------- */

nav {
background-color: rgb(45, 45, 45);
}

nav a {
font-size: 1.5rem;
color: #B8860B !important;
transition: all 0.4s;
}

nav a:hover {
color: rgb(245, 245, 220) !important;
text-decoration: none;
}

.navbar-toggler-icon {
background-color: #B8860B;
line-height: 8px;
min-width: 50px;
border-radius: 3px;
}

button.gold-2 {
font-size: 1.5rem;
}

button.gold-2:hover {
color: rgb(245, 245, 220) !important;
}

.bi-cart {
font-size: 2rem;
margin-left: 1.5rem;
}

/* ------------- Main Page ------------- */

.slogan {
margin-top: -10px;
}

/* ------------- Perfume Items ------------- */

.perfume-card {
color: rgb(0, 0, 0) !important;
text-decoration: none !important;
}

.card {
border: none;
box-shadow: 0px 0px 7px 3.5px rgb(229, 185, 53);
transition: all 0.4s;
}

.card-hover:hover {
cursor: pointer;
transform: scale(0.96);
}

h2.card-title {
font-size: 1.5rem;
}

/* ------------- Perfume Details Page ------------- */

form select {
max-width: 100px;
margin-right: 60px;
}

#quantity {
    max-width: 65px;
    }

img {
border-radius: 5px;
}

.btn-gold {
background-color: #caa126;
color: rgb(0, 0, 0);
font-weight: 500;
transition: all 0.2s ease-in-out;
}

.btn-gold:hover {
transform: scale(1.05);
box-shadow: 0px 0px 2px 0.5px rgb(229, 185, 53);
color: rgb(245, 245, 245);
}

/* ------------- Media Queries ------------- */

@media (max-width: 992px) {
    h1 {
        font-size: 3rem; 
    }
    .bi-cart {
        margin-left: 0;
    }

}

@media (max-width: 324px) {
    h1 {
        font-size: 2.3rem; 
    }
}
